.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline;  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #EEEEEE;}
nav li a{
    color: #000000;
    font-weight:bold;
    padding: 8px 16px;
    text-decoration: none;}
input{ font-size: 16px;
    font-size: max(8px, 1em);
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px;
    border-radius: 4px;}
body{
    background-color: rgb(255, 220, 105);
    color: rgb(153, 0, 153);

}